#禁止刷新
hostname = api.weibo.*
^https:\/\/api\.weibo\.cn\/2\/search\/finder url echo-response application/json echo-response https://github.com/cubeship/backup/raw/refs/heads/main/echo-response/weibo/finder.json
^https:\/\/api\.weibo\.cn\/2\/search\/container_discover url reject
^https:\/\/api\.weibo\.cn\/2\/search\/container_timeline url reject